// Import
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap'); // 'Noto Sans KR', sans-serif !important;
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap'); // 'Fira Mono', monospace;
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Color variable
$white: #fff;
$blue: #247fe0;
$darkblue: #0B5AB0;
$green: #24e079;
$gray: #efefef;
$darkgray: #666;
$black: #333;
$pos: #ff4444;
$nag: #17a6ff;

// Breakpoint variable
$lg: 1200px;
$md: 770px;

// Common class
.pos {
    color: $pos;
}

.nag {
    color: $nag;
}

// Common css
* {
    font-family: 'Noto Sans KR', sans-serif !important;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

// Header.js
.header {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid $gray;
    background-color: $white;
    position: fixed;
    top: 0;
    z-index: 999;
    .inner {
        width: 1200px;
        margin: auto;
        position: relative;
        svg {
            position: absolute;
            top: 27%;
            left: 10%;
            cursor: pointer;
        }
        .logo {
            margin: auto;
            line-height: 70px;
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
            span {
                color: $blue;
            }
        }
    }
}

// Home.js
.home {
    width: 100%;
    margin-top: 70px;
    background-color: $gray;
    .inner {
        width: 1000px;
        margin: auto;
        padding-bottom: 100px;
        background-color: $white;
        text-align: left;
        overflow: hidden;
        .stockIndex {
            > div { // .domestic .usa
                display: flex;
                justify-content: space-around;
                margin-top: 15px;
                overflow: hidden;
                > div { // .kospi .kosdaq .sp500 .nasdaq
                    padding: 20px;
                    h4 {
                        margin-bottom: 10px;
                        a {
                            font-size: 1.3rem;
                            font-weight: bold;
                        }
                    }
                    .num {
                        .price {
                            font-size: 1.6rem;
                            font-weight: bold;
                        }
                        p {
                            display: inline;
                            margin-left: 15px;
                        }
                    }
                    canvas {
                        position: relative;
                        left: -10px;
                        width: 400px;
                        margin-top: 10px;
                    }
                    .txt {
                        margin-top: 10px;
                        text-align: center;
                        font-size: 0.9rem;
                        dt {
                            display: inline;
                            margin-right: 3px;
                        }
                        dd {
                            display: inline;
                            margin-right: 5px;
                            padding-right: 5px;
                            border-right: 1px solid $gray;
                        }
                        dd:last-child {
                            border: 0;
                        }
                    }
                }
                > div:last-child {
                    margin-right: 0;
                }
            }
        }
        .mostpopularNews {
            > div {
                span {
                    display: flex;
                    margin-top: 30px;
                    margin-left: 30px;
                    .thumb {
                        margin-right: 20px;
                        img {
                            width: 200px;
                        }
                    }
                    ul {
                        margin-right: 20px;
                        li {
                            margin-bottom: 15px;
                            .tit {
                                width: 500px;
                                display: block;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                            }
                            .tit:hover { // 왜 안먹히나
                                text-decoration: underline;
                            }
                        }
                        li:first-child {
                            a {
                                font-size: 1.3rem;
                                font-weight: bold;
                            }
                        }
                        li:last-child {
                            margin-bottom: 0;
                        }
                    }
                    .ads {
                        position: relative;
                        border: 1px solid $gray;
                        img {
                            width: 200px;
                            height: 147px;
                        }
                        p {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            padding: 10px;
                            background-color: $white;
                            text-align: center;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
        .section {
            margin-top: 30px;
            h3 {
                margin-left: 30px;
                padding-left: 5px;
                border-left: 5px solid $blue;
                font-size: 1.3rem;
                font-weight: bold;
            }
        }
    }
}

// Favorite.js
.favorite {
    width: 100%;
    background-color: $gray;
    .inner {
        width: 800px;
        height: 100%;
        min-height: 100vh;
        margin: auto;
        padding-bottom: 100px;
        background-color: $white;
        overflow: hidden;
        .setting {
            margin-top: 70px;
            border-bottom: 3px solid $gray;
            overflow: hidden;
            ul {
                display: flex;
                li {
                    flex-grow: 0.2;
                    padding: 5px 0;
                    text-align: left;
                    position: relative;
                    span {
                        position: absolute;
                        top: 14px;
                        left: 40px;
                    }
                }
                li:first-child {
                    flex-grow: 2;
                    padding-left: 10px;
                    span {
                        left: 50px;
                    }
                }
            }
        }
        .list {
            table {
                width: 100%;
                .item {
                    width: 100%;
                    display: flex;
                    padding: 20px;
                    border-bottom: 1px solid $gray;
                    text-align: left;
                    .bar {
                        margin-left: 2%;
                        position: relative;
                        .line {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            width: 2px;
                            height: 100%;
                            background-color: $darkgray;
                        }
                        .box {
                            position: absolute;
                            top: 5px;
                            left: -2px;
                            width: 6px;
                            height: 50%;
                            background-color: $darkgray;
                        }
                    }
                    .tit {
                        flex-grow: 1;
                        a {
                            display: block;
                            width: 100%;
                            height: 100%;
                            padding-right: 30px;
                            strong {
                                display: inline-block;
                                margin-right: 5px;
                                margin-bottom: 5px;
                                color: $black !important;
                                font-size: 1.4rem;
                                font-weight: bold;
                            }
                            .code {
                                color: $darkgray !important;
                            }
                            .sub {
                                color: $darkgray !important;
                            }
                        }
                    }
                    .num {
                        min-width: 12%;
                        .price {
                            margin-bottom: 5px;
                            font-size: 1.3rem;
                            font-weight: bold;
                        }
                        .volumn {
                            color: $darkgray !important;
                        }
                    }
                    .changeNum {
                        min-width: 7%;
                        margin-right: 0;
                        padding-top: 2px;
                        .chgp {
                            margin-bottom: 5px;
                        }
                    }
                    td {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}

// Opinion.js
.opinion {
    width: 100%;
    background-color: $gray;
    .inner {
        width: 1000px;
        height: 100%;
        min-height: 100vh;
        margin: auto;
        padding-bottom: 100px;
        background-color: $white;
        overflow: hidden;
        table {
            width: 100%;
            margin-top: 70px;
            tr {
                display: flex;
                width: 100%;
                border-bottom: 1px solid $gray;
                td, th {
                    padding: 15px 0;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                th {
                    background-color: $white;
                    font-size: 1rem !important;
                }
                .subject {
                    min-width: 10%;
                    text-align: center;
                    font-size: 0.9rem;
                }
                .tit {
                    width: 66%;
                    a {
                        .stockName {
                            margin-right: 5px;
                            color: $blue;
                            font-weight: bold;
                        }
                        .title {
                            display: inline-block;
                            max-width: 75%;
                            margin-right: 5px;
                            font-weight: bold;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                        .replyCount {
                            color: $darkblue;
                        }
                    }
                }
                .name {
                    width: 10%;
                    text-align: center;
                    font-size: 0.9rem;
                }
                .date {
                    min-width: 4%;
                    text-align: center;
                    font-size: 0.8rem;
                }
                .likes {
                    min-width: 10%;
                    font-size: 0.8rem;
                    span {
                        margin-right: 5px;
                    }
                    span:last-child {
                        margin: 0;
                    }
                }
            }
            tr:hover {
                background-color: $gray;
            }
        }
    }
}

.opinionPost {
    width: 100%;
    background-color: $gray;
    .inner {
        width: 1000px;
        height: 100%;
        min-height: 100vh;
        margin: auto;
        padding-top: 70px;
        padding-bottom: 100px;
        background-color: $white;
        overflow: hidden;
        .post {
            padding: 30px;
            .head {
                padding-bottom: 15px;
                border-bottom: 1px solid $gray;
                font-size: 1.1rem;
                .top {
                    margin-bottom: 10px;
                    .subject {
                        margin-right: 5px;
                        font-size: 1rem;
                    }
                    .tit {
                        .stockName {
                            margin-right: 5px;
                            color: $blue;
                            font-weight: bold;
                        }
                        .title {
                            margin-right: 5px;
                            font-weight: bold;
                        }
                        .replyCount {
                            color: $darkblue;
                        }
                    }
                }
                .bottom {
                    .name {
                        margin-right: 10px;
                        font-size: 1rem;
                    }
                    .date {
                        font-size: 0.9rem;
                    }
                }
            }
            .contents {
                padding: 20px 15px;
                p {
                    line-height: 1.3;
                    word-break: break-all;
                }
            }
            .recommend {
                text-align: center;
                button {
                    width: 5%;
                    padding: 15px;
                    border-radius: 5px;
                    text-align: center;
                    color: $white;
                    background-color: $nag;
                    span {
                        display: block;
                        margin-top: 5px;
                    }
                }
                .likes {
                    margin-right: 10px;
                    background-color: $pos;
                }
            }
        }
        .reply {
            padding: 30px;
            .tit {
                padding-bottom: 15px;
                border-bottom: 1px solid $gray;
            }
            .contents {
                padding: 15px 0;
                li {
                    padding: 10px 0;
                    border-bottom: 1px solid $gray;
                    p {
                        margin-top: 5px;
                    }
                }
            }
        }
        .writeBox {
            padding: 30px 30px 0;
            font-size: 1.1rem;
            .top {
                input {
                    margin-left: 5px;
                    margin-right: 10px;
                    padding: 5px;
                    border: 0;
                    background-color: $gray;
                }
            }
            .bottom {
                textarea {
                    width: 100%;
                    height: 80px;
                    margin: 10px 0;
                    border: 0;
                    background-color: $gray;
                }
            }
            button {
                padding: 15px;
                margin: auto;
                background-color: $darkblue;
                color: $white;
            }
        }
    }
}

// NotFound.js
.notFound {
    width: 100%;
    height: 100vh;
    background-color: $gray;
    .inner {
        width: 1000px;
        height: 100%;
        margin: auto;
        background-color: $white;
        position: relative;
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            p {
                margin-bottom: 20px;
                font-size: 2rem;
                font-weight: bold;
            }
            button {
                padding: 15px;
                border-radius: 5px;
                background-color: $blue;
                color: $white;
            }
        }
    }
}

// Footer.js
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid $gray;
    background-color: $white;
    .inner {
        width: 1200px;
        margin: auto;
        ul {
            display: flex;
            align-items: center;
            background-color: $white;
            li {
                width: 25%;
                padding: 20px;
                border-left: 1px solid $gray;
                text-align: center;
            }
            li:last-child {
                border-right: 1px solid $gray;
            }
        }
    }
}