@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.pos {
  color: #ff4444;
}

.nag {
  color: #17a6ff;
}

.on {
  display: block !important;
}

.tabOn {
  border-bottom: 2px solid #0b5ab0 !important;
}

.hidden {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

* {
  font-family: 'Noto Sans KR', sans-serif !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

input,
textarea,
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: white;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  z-index: 999;
}

.header .inner {
  width: 1200px;
  margin: auto;
}

.header .inner svg {
  position: absolute;
  top: 27%;
  left: 10%;
  cursor: pointer;
}

.header .inner .logo {
  margin: auto;
  line-height: 70px;
  text-align: center;
  font-family: 'Fira Mono', monospace !important;
  font-size: 2rem;
  font-weight: bold;
}

.header .inner .logo a span {
  color: #247fe0;
}

@media (max-width: 1200px) {
  .header .inner {
    width: 100%;
  }
}

.home {
  width: 100%;
  margin-top: 70px;
  background-color: #efefef;
}

.home .inner {
  width: 1000px;
  margin: auto;
  padding-bottom: 100px;
  background-color: white;
  text-align: left;
  overflow: hidden;
}

.home .inner .stockIndex {
  margin-top: 30px !important;
}

.home .inner .stockIndex > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 15px;
  overflow: hidden;
}

.home .inner .stockIndex > div > div {
  padding: 20px;
}

.home .inner .stockIndex > div > div h4 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: bold;
}

.home .inner .stockIndex > div > div .num .price {
  font-size: 1.6rem;
  font-weight: bold;
}

.home .inner .stockIndex > div > div .num p {
  display: inline;
  margin-left: 15px;
}

.home .inner .stockIndex > div > div canvas {
  position: relative;
  left: -10px;
  width: 400px;
  margin-top: 10px;
}

.home .inner .stockIndex > div > div .txt {
  margin-top: 10px;
  text-align: center;
  font-size: 0.9rem;
}

.home .inner .stockIndex > div > div .txt dt {
  display: inline;
  margin-right: 3px;
}

.home .inner .stockIndex > div > div .txt dd {
  display: inline;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid #efefef;
}

.home .inner .stockIndex > div > div .txt dd:last-child {
  border: 0;
}

.home .inner .stockIndex > div > div:last-child {
  margin-right: 0;
}

.home .inner .popularNews span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
}

.home .inner .popularNews span .thumb {
  position: relative;
  margin-right: 20px;
}

.home .inner .popularNews span .thumb img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 200px;
}

.home .inner .popularNews span ul {
  margin-right: 20px;
}

.home .inner .popularNews span ul li {
  margin-bottom: 15px;
}

.home .inner .popularNews span ul li .tit {
  width: 500px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.home .inner .popularNews span ul li:first-child a {
  font-size: 1.3rem;
  font-weight: bold;
}

.home .inner .popularNews span ul li:last-child {
  margin-bottom: 0;
}

.home .inner .popularNews span .ads {
  position: relative;
  width: 200px;
  height: 147px;
  border: 1px solid #efefef;
}

.home .inner .popularNews span .ads img {
  width: 100%;
}

.home .inner .popularNews span .ads p {
  position: absolute;
  bottom: -1px;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #efefef;
  background-color: white;
  text-align: center;
  font-size: 0.8rem;
}

.home .inner .popularNews span .ads:after {
  content: "광고";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: white;
  font-size: 0.7rem;
}

.home .inner .populerStock .tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.home .inner .populerStock .tab li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.home .inner .populerStock .tab li a {
  display: block;
  width: 100%;
  padding: 15px;
  text-align: center;
}

.home .inner .populerStock .list {
  display: block;
}

.home .inner .populerStock .list tbody {
  display: block;
}

.home .inner .populerStock .list tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #efefef;
}

.home .inner .populerStock .list tbody tr td {
  width: 25%;
  padding: 15px;
  text-align: center;
}

.home .inner .section {
  margin-top: 50px;
}

.home .inner .section h3 {
  margin-left: 30px;
  padding-left: 5px;
  border-left: 5px solid #247fe0;
  font-size: 1.3rem;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .home .inner {
    width: 100%;
  }
  .home .inner .stockIndex > div div canvas {
    width: 100% !important;
  }
  .home .inner .popularNews > span .ads {
    display: block;
    margin: auto;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .home .inner .popularNews > span {
    display: block;
  }
  .home .inner .popularNews > span .thumb {
    display: inline-block;
    width: 200px;
  }
  .home .inner .popularNews > span .thumb img {
    top: 0;
    -webkit-transform: none;
            transform: none;
    width: 100%;
  }
  .home .inner .popularNews > span ul {
    display: inline-block;
    width: 60%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .home .inner .popularNews > span ul li .tit {
    width: 100%;
  }
}

@media (max-width: 770px) {
  .home .inner .stockIndex > div {
    display: block;
  }
  .home .inner .stockIndex > div > div {
    padding: 10px 30px;
  }
  .home .inner .stockIndex > div > div h4 {
    font-size: 1.1rem;
  }
  .home .inner .stockIndex > div > div .num .price {
    font-size: 1.3rem;
  }
  .home .inner .popularNews > span {
    margin-left: 0;
  }
  .home .inner .popularNews > span .thumb {
    display: none;
  }
  .home .inner .popularNews > span ul {
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
  }
  .home .inner .popularNews > span ul li:first-child .tit {
    font-size: 1.1rem;
  }
}

.favorite {
  width: 100%;
  background-color: #efefef;
}

.favorite .inner {
  width: 1000px;
  height: 100%;
  min-height: 100vh;
  margin: auto;
  padding-bottom: 100px;
  background-color: white;
  overflow: hidden;
}

.favorite .inner .setting {
  margin-top: 70px;
  border-bottom: 3px solid #efefef;
  overflow: hidden;
}

.favorite .inner .setting ul li {
  float: left;
  width: 50%;
  height: 46px;
  padding: 5px 0;
  position: relative;
  cursor: pointer;
}

.favorite .inner .setting ul li svg {
  position: absolute;
  top: 7px;
}

.favorite .inner .setting ul li span {
  position: absolute;
  top: 16px;
}

.favorite .inner .setting ul li:first-child {
  padding-left: 10px;
}

.favorite .inner .setting ul li:first-child svg {
  left: 18px;
}

.favorite .inner .setting ul li:first-child span {
  left: 55px;
}

.favorite .inner .setting ul li:last-child {
  float: right;
}

.favorite .inner .setting ul li:last-child svg {
  right: 60px;
}

.favorite .inner .setting ul li:last-child span {
  right: 30px;
  left: none;
}

.favorite .inner .list .table {
  width: 100%;
}

.favorite .inner .list .table .item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #efefef;
  text-align: left;
}

.favorite .inner .list .table .item .bar {
  margin-left: 2%;
  position: relative;
}

.favorite .inner .list .table .item .bar .line {
  position: absolute;
  top: 10px;
  bottom: 0;
  width: 2px;
  height: 100%;
  background-color: #666666;
}

.favorite .inner .list .table .item .bar .box {
  position: absolute;
  top: 5px;
  left: -4px;
  width: 10px;
  height: 50%;
  background-color: #666666;
}

.favorite .inner .list .table .item .tit {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.favorite .inner .list .table .item .tit strong {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #333333 !important;
  font-size: 1.4rem;
  font-weight: bold;
}

.favorite .inner .list .table .item .tit .code {
  color: #666666 !important;
}

.favorite .inner .list .table .item .tit .sub {
  color: #666666 !important;
}

.favorite .inner .list .table .item .num {
  min-width: 12%;
}

.favorite .inner .list .table .item .num .price {
  margin-bottom: 5px;
  font-size: 1.3rem;
  font-weight: bold;
}

.favorite .inner .list .table .item .num .volumn {
  color: #666666 !important;
}

.favorite .inner .list .table .item .changeNum {
  min-width: 7%;
  margin-right: 0;
  padding-top: 2px;
}

.favorite .inner .list .table .item .changeNum .chgp {
  margin-bottom: 5px;
}

.favorite .inner .list .table .item div {
  margin-right: 20px;
}

.favorite .inner .list .table .c005930 .bar .line {
  height: 50%;
  background-color: #17a6ff;
}

.favorite .inner .list .table .c005930 .bar .box {
  top: 15px;
  height: 8%;
  background-color: #17a6ff;
}

.favorite .inner .list .table .c035420 .bar .line {
  height: 60%;
  background-color: #ff4444;
}

.favorite .inner .list .table .c035420 .bar .box {
  top: 12px;
  height: 25%;
  background-color: #ff4444;
}

.favorite .inner .list .table .c992028 .bar .line {
  top: 5px;
  height: 80%;
  background-color: #17a6ff;
}

.favorite .inner .list .table .c992028 .bar .box {
  top: 15px;
  height: 50%;
  background-color: #17a6ff;
}

.favorite .inner .list .table .c068270 .bar .line {
  top: 5px;
  height: 90%;
  background-color: #17a6ff;
}

.favorite .inner .list .table .c068270 .bar .box {
  top: 10px;
  height: 50%;
  background-color: #17a6ff;
}

.favorite .inner .list .table .c990411 .bar .line {
  height: 50%;
  background-color: #ff4444;
}

.favorite .inner .list .table .c990411 .bar .box {
  top: 12px;
  height: 30%;
  background-color: #ff4444;
}

.favorite .inner .list .table .c000660 .bar .line {
  height: 50%;
  background-color: #17a6ff;
}

.favorite .inner .list .table .c000660 .bar .box {
  top: 15px;
  height: 15%;
  background-color: #17a6ff;
}

.favorite .inner .list .table .cFB .bar .line {
  top: 0;
  height: 80%;
  background-color: #ff4444;
}

.favorite .inner .list .table .cFB .bar .box {
  top: 15px;
  height: 20%;
  background-color: #ff4444;
}

.favorite .inner .layer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.favorite .inner .layer .sortList {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
}

.favorite .inner .layer .sortList li {
  width: 200px;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #efefef;
}

.favorite .inner .layer .sortList li:hover {
  background-color: #efefef;
}

@media (max-width: 1200px) {
  .favorite .inner {
    width: 100%;
  }
  .favorite .inner .setting ul li:first-child {
    padding-left: 2%;
  }
  .favorite .inner .setting ul li:last-child {
    padding-right: 2%;
  }
  .favorite .inner .list .table tbody .item .tit strong {
    font-size: 1.1rem;
  }
  .favorite .inner .list .table tbody .item .tit .code {
    display: block;
  }
  .favorite .inner .list .table tbody .item .num .price {
    font-size: 1.1rem;
  }
  .favorite .inner .list .table tbody .item .num .volumn {
    font-size: 0.9rem;
  }
  .favorite .inner .list .table tbody .item .changeNum {
    font-size: 0.9rem;
  }
}

@media (max-width: 770px) {
  .favorite .inner {
    width: 100%;
  }
  .favorite .inner .setting ul li span {
    font-size: 0.9rem;
  }
  .favorite .inner .list .table tbody .item .tit {
    -webkit-box-flex: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
    width: 65%;
  }
  .favorite .inner .list .table tbody .item .tit strong {
    font-size: 1rem;
  }
  .favorite .inner .list .table tbody .item .tit .code {
    font-size: 0.8rem;
  }
  .favorite .inner .list .table tbody .item .num {
    width: 15%;
    min-width: 0;
  }
  .favorite .inner .list .table tbody .item .num .price {
    font-size: 1rem;
  }
  .favorite .inner .list .table tbody .item .changeNum {
    width: 10%;
    min-width: 0;
  }
}

@media (max-width: 500px) {
  .favorite .inner .list .table tbody .item .tit {
    width: 50%;
  }
  .favorite .inner .list .table tbody .item .num {
    width: 20%;
  }
  .favorite .inner .list .table tbody .item .num .volumn {
    font-size: 0.8rem;
  }
  .favorite .inner .list .table tbody .item .changeNum {
    width: 15%;
  }
}

.board {
  width: 100%;
  background-color: #efefef;
}

.board .inner {
  width: 1000px;
  height: 100%;
  min-height: 100vh;
  margin: auto;
  padding-bottom: 100px;
  background-color: white;
  overflow: hidden;
}

.board .inner table {
  width: 100%;
  margin-top: 70px;
}

.board .inner table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #efefef;
}

.board .inner table tr td, .board .inner table tr th {
  padding: 15px 0;
}

.board .inner table tr th {
  background-color: white;
  font-size: 1rem !important;
}

.board .inner table tr th:nth-child(5) {
  width: 10%;
}

.board .inner table tr .subject {
  width: 10%;
  text-align: center;
  font-size: 0.9rem;
}

.board .inner table tr .tit {
  width: 66%;
}

.board .inner table tr .tit a .stockName {
  margin-right: 5px;
  color: #247fe0;
  font-weight: bold;
}

.board .inner table tr .tit a .title {
  margin-right: 5px;
  font-weight: bold;
}

.board .inner table tr .tit a .replyCount {
  color: #0b5ab0;
}

.board .inner table tr .name {
  width: 10%;
  text-align: center;
  font-size: 0.9rem;
}

.board .inner table tr .date {
  width: 4%;
  text-align: center;
  font-size: 0.8rem;
}

.board .inner table tr .recommend {
  width: 10%;
  text-align: center;
  font-size: 0.8rem;
}

.board .inner table tr .recommend > span svg {
  color: #ff4444;
}

.board .inner table tr .recommend > span .btn {
  position: relative;
  top: -7px;
}

.board .inner table tr .recommend .dislikes svg {
  color: #17a6ff;
}

.board .inner table tr:hover {
  background-color: #efefef;
}

@media (max-width: 1200px) {
  .board .inner {
    width: 100%;
  }
}

@media (max-width: 770px) {
  .board .inner {
    width: 100%;
  }
  .board .inner table tbody tr {
    display: block;
    padding: 10px 10px;
  }
  .board .inner table tbody tr td {
    padding: 10px 0;
  }
  .board .inner table tbody tr .subject {
    display: none;
  }
  .board .inner table tbody tr .tit {
    display: block;
    width: calc(100% - 20px);
    margin-left: 10px;
  }
  .board .inner table tbody tr .name,
  .board .inner table tbody tr .date,
  .board .inner table tbody tr .recommend {
    display: inline-block;
    width: auto;
    margin-right: 10px;
  }
  .board .inner table tbody tr .name {
    margin-left: 10px;
  }
  .board .inner table tbody tr .recommend > span {
    margin-right: 5px;
  }
  .board .inner table tbody tr .recommend > span button {
    position: relative;
    top: 7px;
  }
  .board .inner table tbody tr .recommend > span .btn {
    top: 0;
  }
  .board .inner table tbody tr:first-child {
    display: none !important;
  }
  .board .inner table tbody tr:nth-child(2) {
    padding-top: 20px;
  }
}

.boardPost {
  width: 100%;
  background-color: #efefef;
}

.boardPost .inner {
  width: 1000px;
  height: 100%;
  min-height: 100vh;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 100px;
  background-color: white;
  overflow: hidden;
}

.boardPost .inner .post {
  padding: 30px;
}

.boardPost .inner .post .head {
  padding-bottom: 15px;
  border-bottom: 1px solid #efefef;
  font-size: 1.1rem;
}

.boardPost .inner .post .head .top {
  margin-bottom: 10px;
}

.boardPost .inner .post .head .top .subject {
  margin-right: 5px;
  font-size: 1rem;
}

.boardPost .inner .post .head .top .tit .stockName {
  margin-right: 5px;
  color: #247fe0;
  font-weight: bold;
}

.boardPost .inner .post .head .top .tit .title {
  margin-right: 5px;
  font-weight: bold;
}

.boardPost .inner .post .head .top .tit .replyCount {
  color: #0b5ab0;
}

.boardPost .inner .post .head .bottom .name {
  margin-right: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.boardPost .inner .post .head .bottom .date {
  font-size: 0.9rem;
}

.boardPost .inner .post .contents {
  padding: 20px 15px;
}

.boardPost .inner .post .contents p {
  line-height: 1.3;
  word-break: break-all;
}

.boardPost .inner .post .recommend {
  text-align: center;
}

.boardPost .inner .post .recommend button {
  width: 5%;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  color: white !important;
  background-color: #17a6ff;
}

.boardPost .inner .post .recommend button span {
  display: block;
  margin-top: 5px;
  color: white !important;
}

.boardPost .inner .post .recommend .likes {
  margin-right: 10px;
  background-color: #ff4444;
}

.boardPost .inner .reply {
  padding: 30px;
}

.boardPost .inner .reply .tit {
  padding-bottom: 15px;
  border-bottom: 1px solid #efefef;
}

.boardPost .inner .reply .tit .num {
  color: #0b5ab0;
  font-weight: bold;
}

.boardPost .inner .reply .contents {
  padding: 15px 0;
}

.boardPost .inner .reply .contents li {
  padding: 10px 0;
  border-bottom: 1px solid #efefef;
}

.boardPost .inner .reply .contents li .name {
  margin-right: 5px;
  font-weight: bold;
}

.boardPost .inner .reply .contents li .toModify {
  display: inline-block;
  padding: 2px;
  border-radius: 2px;
  background-color: #0b5ab0;
  color: white;
  font-size: 0.9em;
  cursor: pointer;
}

.boardPost .inner .reply .contents li p {
  margin-top: 10px;
}

.boardPost .inner .reply .contents .modify {
  display: none;
  padding: 10px 0;
}

.boardPost .inner .reply .contents .modify input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 0;
  background-color: #efefef;
}

.boardPost .inner .reply .contents .modify button {
  margin-right: 10px;
  padding: 10px;
  background-color: #17a6ff;
  color: white !important;
}

.boardPost .inner .reply .contents .modify .writePwInput {
  width: 30%;
  margin-top: 10px;
}

.boardPost .inner .reply .contents .modify .close {
  background-color: #666666;
}

.boardPost .inner .writeBox {
  padding: 30px 30px 0;
  font-size: 1.1rem;
}

.boardPost .inner .writeBox .top input {
  margin-left: 5px;
  margin-right: 10px;
  padding: 5px;
  border: 0;
  background-color: #efefef;
}

.boardPost .inner .writeBox .bottom textarea {
  width: 100%;
  height: 80px;
  margin: 10px 0;
  border: 0;
  background-color: #efefef;
}

.boardPost .inner .writeBox button {
  padding: 15px;
  margin: auto;
  background-color: #0b5ab0;
  color: white !important;
}

@media (max-width: 770px) {
  .boardPost .inner {
    width: 100%;
  }
  .boardPost .inner .post {
    padding: 30px 15px;
  }
  .boardPost .inner .post .head .top .tit .stockName {
    line-height: 1.5;
  }
  .boardPost .inner .post .recommend > button {
    width: 20%;
  }
  .boardPost .inner .reply {
    padding: 30px 15px;
  }
  .boardPost .inner .writeBox .top label {
    display: block;
  }
  .boardPost .inner .writeBox .top input {
    margin: 5px 0;
  }
}

.search {
  width: 100%;
  background-color: #efefef;
}

.search .inner {
  width: 1000px;
  height: 100%;
  min-height: 100vh;
  margin: auto;
  margin-top: 70px;
  padding-bottom: 100px;
  background-color: white;
  position: relative;
  overflow: hidden;
}

.search .inner .fixed {
  position: fixed;
  top: 70px;
  width: 1000px;
}

.search .inner .fixed .search .searchBox {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  border: 0;
  border-bottom: 2px solid #247fe0;
  font-size: 1.1rem;
}

.search .inner .findList {
  width: 100%;
  margin-top: 50px;
}

.search .inner .findList tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search .inner .findList tr td {
  padding: 15px;
  text-align: center;
}

.search .inner .findList tr td:first-child {
  min-width: 600px;
}

.search .inner .findList tr td:nth-child(2), .search .inner .findList tr td:nth-child(3) {
  min-width: 140px;
}

@media (max-width: 1200px) {
  .search .inner {
    width: 100%;
  }
  .search .inner .fixed {
    width: 100%;
  }
  .search .inner .findList tbody tr td:first-child {
    width: 40%;
    min-width: auto;
  }
  .search .inner .findList tbody tr td:nth-child(2), .search .inner .findList tbody tr td:nth-child(3) {
    width: 30%;
    min-width: auto;
    font-size: 0.9rem;
  }
}

.notFound {
  width: 100%;
  height: 100vh;
  background-color: #efefef;
}

.notFound .inner {
  width: 1000px;
  height: 100%;
  margin: auto;
  background-color: white;
  position: relative;
}

.notFound .inner span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.notFound .inner span p {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
}

.notFound .inner span button {
  padding: 15px;
  border-radius: 5px;
  background-color: #247fe0;
  color: white;
}

@media (max-width: 1200px) {
  .notFound .inner {
    width: 100%;
  }
}

@media (max-width: 770px) {
  .notFound .inner span p {
    line-height: 1.5;
    word-break: keep-all;
    font-size: 1.3rem;
  }
  .notFound .inner span button {
    font-size: 0.9rem;
  }
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  -webkit-box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

.footer .inner {
  width: 1200px;
  margin: auto;
}

.footer .inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.footer .inner ul li {
  width: 25%;
  border-left: 1px solid #efefef;
  text-align: center;
}

.footer .inner ul li a {
  display: block;
  width: 100%;
  padding: 20px;
}

.footer .inner ul li:last-child {
  border-right: 1px solid #efefef;
}

@media (max-width: 1200px) {
  .footer .inner {
    width: 100%;
  }
}

@media (max-width: 770px) {
  .footer .inner ul li a {
    padding: 20px 10px;
    font-size: 0.9rem;
  }
}
/*# sourceMappingURL=common.css.map */