// Import
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap'); // 'Noto Sans KR', sans-serif !important;
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap'); // 'Fira Mono', monospace;
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Color variable
$white: #fff;
$blue: #247fe0;
$darkblue: #0B5AB0;
$green: #24e079;
$gray: #efefef;
$darkgray: #666;
$black: #333;
$pos: #ff4444;
$nag: #17a6ff;

// Breakpoint variable
$lg: 1200px;
$md: 770px;

// Common class
.pos {
    color: $pos;
}

.nag {
    color: $nag;
}

.on {
    display: block !important;
}

.tabOn {
    border-bottom: 2px solid $darkblue !important;
}

.hidden {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

// Common css
* {
    font-family: 'Noto Sans KR', sans-serif !important;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

input, 
textarea, 
button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

// Header.js
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: $white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    z-index: 999;
    .inner {
        width: 1200px;
        margin: auto;
        svg {
            position: absolute;
            top: 27%;
            left: 10%;
            cursor: pointer;
        }
        .logo {
            margin: auto;
            line-height: 70px;
            text-align: center;
            font-family: 'Fira Mono', monospace;
            font-size: 2rem;
            font-weight: bold;
            a {
                span {
                    color: $blue;
                }
            }
        }
    }
}

@media (max-width: $lg) {
    .header {
        .inner {
            width: 100%;
        }
    }
};

// Home.js
.home {
    width: 100%;
    margin-top: 70px;
    background-color: $gray;
    .inner {
        width: 1000px;
        margin: auto;
        padding-bottom: 100px;
        background-color: $white;
        text-align: left;
        overflow: hidden;
        .stockIndex {
            margin-top: 30px !important;
            > div { // .domestic .usa
                display: flex;
                justify-content: space-around;
                margin-top: 15px;
                overflow: hidden;
                > div { // .kospi .kosdaq .sp500 .nasdaq
                    padding: 20px;
                    h4 {
                        margin-bottom: 10px;
                        font-size: 1.3rem;
                        font-weight: bold;

                    }
                    .num {
                        .price {
                            font-size: 1.6rem;
                            font-weight: bold;
                        }
                        p {
                            display: inline;
                            margin-left: 15px;
                        }
                    }
                    canvas {
                        position: relative;
                        left: -10px;
                        width: 400px;
                        margin-top: 10px;
                    }
                    .txt {
                        margin-top: 10px;
                        text-align: center;
                        font-size: 0.9rem;
                        dt {
                            display: inline;
                            margin-right: 3px;
                        }
                        dd {
                            display: inline;
                            margin-right: 5px;
                            padding-right: 5px;
                            border-right: 1px solid $gray;
                        }
                        dd:last-child {
                            border: 0;
                        }
                    }
                }
                > div:last-child {
                    margin-right: 0;
                }
            }
        }
        .popularNews {
            span {
                display: flex;
                margin-top: 30px;
                margin-left: 30px;
                .thumb {
                    position: relative;
                    margin-right: 20px;
                    img {
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 200px;
                    }
                }
                ul {
                    margin-right: 20px;
                    li {
                        margin-bottom: 15px;
                        .tit {
                            width: 500px;
                            display: block;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }
                    li:first-child {
                        a {
                            font-size: 1.3rem;
                            font-weight: bold;
                        }
                    }
                    li:last-child {
                        margin-bottom: 0;
                    }
                }
                .ads {
                    position: relative;
                    width: 200px;
                    height: 147px;
                    border: 1px solid $gray;
                    img {
                        width: 100%;
                    }
                    p {
                        position: absolute;
                        bottom: -1px;
                        width: 100%;
                        padding: 10px;
                        border-bottom: 1px solid $gray;
                        background-color: $white;
                        text-align: center;
                        font-size: 0.8rem;
                    }
                }
                .ads:after {
                    content: "광고";
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 5px;
                    background-color: $white;
                    font-size: 0.7rem;
                }
            }
        }
        .populerStock {
            .tab {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 30px;
                border-top: 1px solid $gray;
                border-bottom: 1px solid $gray;
                li {
                    flex-grow: 1;
                    a {
                        display: block;
                        width: 100%;
                        padding: 15px;
                        text-align: center;
                    }
                }
            }
            .list {
                display: block;
                tbody {
                    display: block;
                    tr {
                        display: flex;
                        justify-content: space-between;
                        border-bottom: 1px solid $gray;
                        td {
                            width: 25%;
                            padding: 15px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .section {
            margin-top: 50px;
            h3 {
                margin-left: 30px;
                padding-left: 5px;
                border-left: 5px solid $blue;
                font-size: 1.3rem;
                font-weight: bold;
            }
        }
    }
}

@media (max-width: $lg) {
    .home {
        .inner {
            width: 100%;
            .stockIndex {
                > div {
                    div {
                        canvas {
                            width: 100% !important;
                        }
                    }
                }
            }
            .popularNews {
                > span {
                    .ads {
                        display: block;
                        margin: auto;
                        text-align: center;
                    }
                }
            }
        }
    }
};

@media (max-width: 1000px) {
    .home {
        .inner {
            .popularNews {
                > span {
                    display: block;
                    .thumb {
                        display: inline-block;
                        width: 200px;
                        img {
                            top: 0;
                            transform: none;
                            width: 100%;
                        }
                    }
                    ul {
                        display: inline-block;
                        width: 60%;
                        margin-right: 0;
                        margin-bottom: 40px;
                        li {
                            .tit {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
};

@media (max-width: $md) {
    .home {
        .inner {
            .stockIndex {
                > div {
                    display: block;
                    > div {
                        padding: 10px 30px;
                        h4 {
                            font-size: 1.1rem;
                        }
                        .num {
                            .price {
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }
            .popularNews {
                > span {
                    margin-left: 0;
                    .thumb {
                        display: none;
                    }
                    ul {
                        display: block;
                        width: 90%;
                        margin: auto;
                        margin-bottom: 30px;
                        li:first-child {
                            .tit {
                                font-size: 1.1rem;
                            }
                        }
                    }
                }
            }
        }
    }
};

// Favorite.js
.favorite {
    width: 100%;
    background-color: $gray;
    .inner {
        width: 1000px;
        height: 100%;
        min-height: 100vh;
        margin: auto;
        padding-bottom: 100px;
        background-color: $white;
        overflow: hidden;
        .setting {
            margin-top: 70px;
            border-bottom: 3px solid $gray;
            overflow: hidden;
            ul {
                li {
                    float: left;
                    width: 50%;
                    height: 46px;
                    padding: 5px 0;
                    position: relative;
                    cursor: pointer;
                    svg {
                        position: absolute;
                        top: 7px;
                    }
                    span {
                        position: absolute;
                        top: 16px;
                    }
                }
                li:first-child {
                    padding-left: 10px;
                    svg {
                        left: 18px;
                    }
                    span {
                        left: 55px;
                    }
                }
                li:last-child {
                    float: right;
                    svg {
                        right: 60px;
                    }
                    span {
                        right: 30px;
                        left: none;
                    }
                }
            }
        }
        .list {
            table {
                width: 100%;
                .item {
                    width: 100%;
                    display: flex;
                    padding: 20px;
                    border-bottom: 1px solid $gray;
                    text-align: left;
                    .bar {
                        margin-left: 2%;
                        position: relative;
                        .line {
                            position: absolute;
                            top: 10px;
                            bottom: 0;
                            width: 2px;
                            height: 100%;
                            background-color: $darkgray;
                        }
                        .box {
                            position: absolute;
                            top: 5px;
                            left: -4px;
                            width: 10px;
                            height: 50%;
                            background-color: $darkgray;
                        }
                    }
                    .tit {
                        flex-grow: 1;
                        a {
                            display: block;
                            width: 100%;
                            height: 100%;
                            padding-right: 30px;
                            strong {
                                display: inline-block;
                                margin-right: 5px;
                                margin-bottom: 5px;
                                color: $black !important;
                                font-size: 1.4rem;
                                font-weight: bold;
                            }
                            .code {
                                color: $darkgray !important;
                            }
                            .sub {
                                color: $darkgray !important;
                            }
                        }
                    }
                    .num {
                        min-width: 12%;
                        .price {
                            margin-bottom: 5px;
                            font-size: 1.3rem;
                            font-weight: bold;
                        }
                        .volumn {
                            color: $darkgray !important;
                        }
                    }
                    .changeNum {
                        min-width: 7%;
                        margin-right: 0;
                        padding-top: 2px;
                        .chgp {
                            margin-bottom: 5px;
                        }
                    }
                    td {
                        margin-right: 20px;
                    }
                }
                .c005930 { // 삼성전자
                    .bar {
                        .line {
                            height: 50%;
                            background-color: $nag;
                        }
                        .box {
                            top: 15px;
                            height: 8%;
                            background-color: $nag;
                        }
                    }
                }
                .c035420 { // NAVER
                    .bar {
                        .line {
                            height: 60%;
                            background-color: $pos;
                        }
                        .box {
                            top: 12px;
                            height: 25%;
                            background-color: $pos;
                        }
                    }
                }
                .c992028 { // E-Mini 나스닥 100
                    .bar {
                        .line {
                            top: 5px;
                            height: 80%;
                            background-color: $nag;
                        }
                        .box {
                            top: 15px;
                            height: 50%;
                            background-color: $nag;
                        }
                    }
                }
                .c068270 { // 셀트리온
                    .bar {
                        .line {
                            top: 5px;
                            height: 90%;
                            background-color: $nag;
                        }
                        .box {
                            top: 10px;
                            height: 50%;
                            background-color: $nag;
                        }
                    }
                }
                .c990411 { // 니케이255
                    .bar {
                        .line {
                            height: 50%;
                            background-color: $pos;
                        }
                        .box {
                            top: 12px;
                            height: 30%;
                            background-color: $pos;
                        }
                    }
                }
                .c000660 { // SK하이닉스
                    .bar {
                        .line {
                            height: 50%;
                            background-color: $nag;
                        }
                        .box {
                            top: 15px;
                            height: 15%;
                            background-color: $nag;
                        }
                    }
                }
                .cFB { // 페이스북
                    .bar {
                        .line {
                            top: 0;
                            height: 80%;
                            background-color: $pos;
                        }
                        .box {
                            top: 15px;
                            height: 20%;
                            background-color: $pos;
                        }
                    }
                }
            }
        }
        .layer {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 999;
            .sortList {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: $white;
                li {
                    width: 200px;
                    padding: 10px;
                    text-align: center;
                    border-bottom: 1px solid $gray;
                }
                li:hover {
                    background-color: $gray;
                }
            }
        }
    }
}

@media (max-width: $lg) {
    .favorite {
        .inner {
            width: 100%;
            .setting {
                ul {
                    li:first-child {
                        padding-left: 2%;
                    }
                    li:last-child {
                        padding-right: 2%;
                    }
                }
            }
            .list {
                table {
                    tbody {
                        .item {
                            .tit {
                                a {
                                    strong {
                                        font-size: 1.1rem;
                                    }
                                }
                                .code {
                                    display: block;
                                }
                            }
                            .num {
                                .price {
                                    font-size: 1.1rem;
                                }
                                .volumn {
                                    font-size: 0.9rem;
                                }
                            }
                            .changeNum {
                                font-size: 0.9rem;
                            }
                        }
                    }
                }
            }
        }
    }
};

@media (max-width: $md) {
    .favorite {
        .inner {
            width: 100%;
            .setting {
                ul {
                    li {
                        span {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
            .list {
                table {
                    tbody {
                        .item {
                            .tit {
                                flex-grow: unset;
                                width: 65%;
                                a {
                                    strong {
                                        font-size: 1rem;
                                    }
                                    .code {
                                        font-size: 0.8rem;
                                    }
                                }
                            }
                            .num {
                                width: 15%;
                                min-width: 0;
                                .price {
                                    font-size: 1rem;
                                }
                            }
                            .changeNum {
                                width: 10%;
                                min-width: 0;
                            }
                        }
                    }
                }
            }
        }
    }
};

@media (max-width: 500px) {
    .favorite {
        .inner {
            .list {
                table {
                    tbody {
                        .item {
                            .tit {
                                width: 50%;
                            }
                            .num {
                                width: 20%;
                                .volumn {
                                    font-size: 0.8rem;
                                }
                            }
                            .changeNum {
                                width: 15%;
                            }
                        }
                    }
                }
            }
        }
    }
};

// Opinion.js
.opinion {
    width: 100%;
    background-color: $gray;
    .inner {
        width: 1000px;
        height: 100%;
        min-height: 100vh;
        margin: auto;
        padding-bottom: 100px;
        background-color: $white;
        overflow: hidden;
        table {
            width: 100%;
            margin-top: 70px;
            tr {
                display: flex;
                width: 100%;
                border-bottom: 1px solid $gray;
                td, th {
                    padding: 15px 0;
                }
                th {
                    background-color: $white;
                    font-size: 1rem !important;
                }
                th:nth-child(5) {
                    width: 10%;
                }
                .subject {
                    width: 10%;
                    text-align: center;
                    font-size: 0.9rem;
                }
                .tit {
                    width: 66%;
                    a {
                        .stockName {
                            margin-right: 5px;
                            color: $blue;
                            font-weight: bold;
                        }
                        .title {
                            margin-right: 5px;
                            font-weight: bold;
                        }
                        .replyCount {
                            color: $darkblue;
                        }
                    }
                }
                .name {
                    width: 10%;
                    text-align: center;
                    font-size: 0.9rem;
                }
                .date {
                    width: 4%;
                    text-align: center;
                    font-size: 0.8rem;
                }
                .recommend {
                    width: 10%;
                    text-align: center;
                    font-size: 0.8rem;
                    > span {
                        svg {
                            color: $pos;
                        }
                        .btn {
                            position: relative;
                            top: -7px;
                        }
                    }
                    .dislikes {
                        svg {
                            color: $nag;
                        }
                    }
                }
            }
            tr:hover {
                background-color: $gray;
            }
        }
    }
}

@media (max-width: $lg) {
    .opinion {
        .inner {
            width: 100%;
        }
    }
};

@media (max-width: $md) {
    .opinion {
        .inner {
            width: 100%;
            table {
                tbody {
                    tr {
                        display: block;
                        padding: 10px 10px;
                        td {
                            padding: 10px 0;
                        }
                        .subject {
                            display: none;
                        }
                        .tit {
                            display: block;
                            width: calc(100% - 20px);
                            margin-left: 10px;
                        }
                        .name,
                        .date,
                        .recommend {
                            display: inline-block;
                            width: auto;
                            margin-right: 10px;
                        }
                        .name {
                            margin-left: 10px;
                        }
                        .recommend {
                            > span {
                                margin-right: 5px;
                                button {
                                    position: relative;
                                    top: 7px;
                                }
                                .btn {
                                    top: 0;
                                }
                            }
                        }
                    }
                    tr:first-child {
                        display: none !important;
                    }
                    tr:nth-child(2) {
                        padding-top: 20px;
                    }
                }
            }
        }
    }
};

// OpinionPost.js
.opinionPost {
    width: 100%;
    background-color: $gray;
    .inner {
        width: 1000px;
        height: 100%;
        min-height: 100vh;
        margin: auto;
        padding-top: 70px;
        padding-bottom: 100px;
        background-color: $white;
        overflow: hidden;
        .post {
            padding: 30px;
            .head {
                padding-bottom: 15px;
                border-bottom: 1px solid $gray;
                font-size: 1.1rem;
                .top {
                    margin-bottom: 10px;
                    .subject {
                        margin-right: 5px;
                        font-size: 1rem;
                    }
                    .tit {
                        .stockName {
                            margin-right: 5px;
                            color: $blue;
                            font-weight: bold;
                        }
                        .title {
                            margin-right: 5px;
                            font-weight: bold;
                        }
                        .replyCount {
                            color: $darkblue;
                        }
                    }
                }
                .bottom {
                    .name {
                        margin-right: 10px;
                        font-size: 1rem;
                        font-weight: bold;
                    }
                    .date {
                        font-size: 0.9rem;
                    }
                }
            }
            .contents {
                padding: 20px 15px;
                p {
                    line-height: 1.3;
                    word-break: break-all;
                }
            }
            .recommend {
                text-align: center;
                button {
                    width: 5%;
                    padding: 15px;
                    border-radius: 5px;
                    text-align: center;
                    color: $white !important;
                    background-color: $nag;
                    span {
                        display: block;
                        margin-top: 5px;
                        color: $white !important;
                    }
                }
                .likes {
                    margin-right: 10px;
                    background-color: $pos;
                }
            }
        }
        .reply {
            padding: 30px;
            .tit {
                padding-bottom: 15px;
                border-bottom: 1px solid $gray;
                .num {
                    color: $darkblue;
                    font-weight: bold;
                }
            }
            .contents {
                padding: 15px 0;
                li {
                    padding: 10px 0;
                    border-bottom: 1px solid $gray;
                    .name {
                        margin-right: 5px;
                        font-weight: bold;
                    }
                    .toModify {
                        display: inline-block;
                        padding: 2px;
                        border-radius: 2px;
                        background-color: $darkgray;
                        color: $white;
                        font-size: 0.9em;
                        cursor: pointer;
                    }
                    p {
                        margin-top: 10px;
                    }
                }
                .modify {
                    display: none;
                    padding: 10px 0;
                    input {
                        display: block;
                        width: 100%;
                        margin-bottom: 10px;
                        padding: 10px;
                        border: 0;
                        background-color: $gray;
                    }
                    button {
                        margin-right: 10px;
                        padding: 10px;
                        background-color: $nag;
                        color: $white !important;
                    }
                    button:last-child {
                        background-color: $pos;
                    }
                }
            }
        }
        .writeBox {
            padding: 30px 30px 0;
            font-size: 1.1rem;
            .top {
                input {
                    margin-left: 5px;
                    margin-right: 10px;
                    padding: 5px;
                    border: 0;
                    background-color: $gray;
                }
            }
            .bottom {
                textarea {
                    width: 100%;
                    height: 80px;
                    margin: 10px 0;
                    border: 0;
                    background-color: $gray;
                }
            }
            button {
                padding: 15px;
                margin: auto;
                background-color: $darkblue;
                color: $white !important;
            }
        }
    }
}

@media (max-width: $md) {
    .opinionPost {
        .inner {
            width: 100%;
            .post {
                padding: 30px 15px;
                .head {
                    .top {
                        .tit {
                            .stockName {
                                line-height: 1.5;
                            }
                        }
                    }
                }
                .recommend {
                    > button {
                        width: 20%;
                    }
                }
            }
            .reply {
                padding: 30px 15px;
            }
            .writeBox {
                .top {
                    label {
                        display: block;
                    }
                    input {
                        margin: 5px 0;
                    }
                }
            }
        }
    }
};

// Search.js
.search {
    width: 100%;
    background-color: $gray;
    .inner {
        width: 1000px;
        height: 100%;
        min-height: 100vh;
        margin: auto;
        margin-top: 70px;
        padding-bottom: 100px;
        background-color: $white;
        position: relative;
        overflow: hidden;
        .fixed {
            position: fixed;
            top: 70px;
            width: 1000px;
            .search {
                .searchBox {
                    display: inline-block;
                    width: 100%;
                    padding: 10px 20px;
                    border: 0;
                    border-bottom: 2px solid $blue;
                    font-size: 1.1rem;
                }
            }
        }
        .findList {
            width: 100%;
            margin-top: 50px;
            tr {
                display: flex;
                justify-content: space-between;
                align-items: center;
                td {
                    padding: 15px;
                    text-align: center;
                }
                td:first-child {
                    min-width: 600px;
                }
                td:nth-child(2),
                td:nth-child(3) {
                    min-width: 140px;
                }
            }
        }
    }
}

@media (max-width: $lg) {
    .search {
        .inner {
            width: 100%;
            .fixed {
                width: 100%;
            }
            .findList {
                tbody {
                    tr {
                        td:first-child {
                            width: 40%;
                            min-width: auto;
                        }
                        td:nth-child(2),
                        td:nth-child(3) {
                            width: 30%;
                            min-width: auto;
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
};

// NotFound.js
.notFound {
    width: 100%;
    height: 100vh;
    background-color: $gray;
    .inner {
        width: 1000px;
        height: 100%;
        margin: auto;
        background-color: $white;
        position: relative;
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            p {
                margin-bottom: 20px;
                font-size: 2rem;
                font-weight: bold;
            }
            button {
                padding: 15px;
                border-radius: 5px;
                background-color: $blue;
                color: $white;
            }
        }
    }
}

@media (max-width: $lg) {
    .notFound {
        .inner {
            width: 100%;
        }
    }
};

// Footer.js
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    // border-top: 1px solid $gray;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: $white;
    .inner {
        width: 1200px;
        margin: auto;
        ul {
            display: flex;
            align-items: center;
            background-color: $white;
            li {
                width: 25%;
                border-left: 1px solid $gray;
                text-align: center;
                a {
                    display: block;
                    width: 100%;
                    padding: 20px;
                }
            }
            li:last-child {
                border-right: 1px solid $gray;
            }
        }
    }
}

@media (max-width: $lg) {
    .footer {
        .inner {
            width: 100%;
        }
    }
};

@media (max-width: $md) {
    .footer {
        .inner {
            ul {
                li {
                    a {
                        padding: 20px 10px;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
};