// Import
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap'); // 'Noto Sans KR', sans-serif !important;
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap'); // 'Fira Mono', monospace;
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Color variable
$white: #fff;
$blue: #247fe0;
$darkblue: #0B5AB0;
$green: #24e079;
$gray: #efefef;
$pos: #ff4444;
$nag: #17a6ff;

// Breakpoint variable
$lg: 1200px;
$md: 770px;

// Common class
.pos {
    color: $pos;
}

.nag {
    color: $nag;
}

// Common css
* {
    font-family: 'Noto Sans KR', sans-serif !important;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

// Header.js
.header {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid $gray;
    .inner {
        width: 1200px;
        margin: auto;
        position: relative;
        svg {
            position: absolute;
            top: 27%;
            left: 10%;
            cursor: pointer;
        }
        .logo {
            margin: auto;
            line-height: 70px;
            font-size: 2rem;
            font-weight: bold;
            span {
                color: $blue;
            }
        }
    }
}

// Home.js
.home {
    width: 100%;
    background-color: $gray;
    .inner {
        width: 1000px;
        margin: auto;
        padding-bottom: 100px;
        background-color: $white;
        text-align: left;
        overflow: hidden;
        .stockIndex {
            > div { // .domestic .usa
                display: flex;
                justify-content: space-around;
                margin-top: 15px;
                overflow: hidden;
                > div { // .kospi .kosdaq .sp500 .nasdaq
                    padding: 20px;
                    h4 {
                        margin-bottom: 10px;
                        a {
                            font-size: 1.3rem;
                            font-weight: bold;
                        }
                    }
                    .num {
                        .price {
                            font-size: 1.6rem;
                            font-weight: bold;
                        }
                        p {
                            display: inline;
                            margin-left: 15px;
                        }
                    }
                    canvas {
                        position: relative;
                        left: -10px;
                        width: 400px;
                        margin-top: 10px;
                    }
                    .txt {
                        margin-top: 10px;
                        text-align: center;
                        font-size: 0.9rem;
                        dt {
                            display: inline;
                            margin-right: 3px;
                        }
                        dd {
                            display: inline;
                            margin-right: 5px;
                            padding-right: 5px;
                            border-right: 1px solid $gray;
                        }
                        dd:last-child {
                            border: 0;
                        }
                    }
                }
                > div:last-child {
                    margin-right: 0;
                }
            }
        }
        .mostpopularNews {
            > div {
                span {
                    display: flex;
                    margin-top: 30px;
                    margin-left: 30px;
                    .thumb {
                        margin-right: 20px;
                        img {
                            width: 200px;
                        }
                    }
                    ul {
                        margin-right: 20px;
                        li {
                            margin-bottom: 15px;
                            .tit {
                                width: 500px;
                                display: block;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                            }
                            .tit:hover { // 왜 안먹히나
                                text-decoration: underline;
                            }
                        }
                        li:first-child {
                            a {
                                font-size: 1.3rem;
                                font-weight: bold;
                            }
                        }
                        li:last-child {
                            margin-bottom: 0;
                        }
                    }
                    .ads {
                        position: relative;
                        border: 1px solid $gray;
                        img {
                            width: 200px;
                            height: 147px;
                        }
                        p {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            padding: 10px;
                            background-color: $white;
                            text-align: center;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
        .section {
            margin-top: 30px;
            h3 {
                margin-left: 30px;
                padding-left: 5px;
                border-left: 5px solid $blue;
                font-size: 1.3rem;
                font-weight: bold;
            }
        }
    }
}

// Footer.js
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid $gray;
    background-color: $white;
    .inner {
        width: 1200px;
        margin: auto;
        ul {
            display: flex;
            align-items: center;
            background-color: $white;
            li {
                width: 25%;
                padding: 20px;
                border-left: 1px solid $gray;
            }
            li:last-child {
                border-right: 1px solid $gray;
            }
        }
    }
}