// Import font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap'); // 'Noto Sans KR', sans-serif !important;
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap'); // 'Fira Mono', monospace;
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Color variable
$white: #fff;
$blue: #247fe0;
$darkblue: #0B5AB0;
$green: #24e079;
$gray: #efefef;
$pos: #ff4444;
$nag: #17a6ff;

// Breakpoint variable
$lg: 1200px;
$md: 770px;

// Common css
* {
    font-family: 'Noto Sans KR', sans-serif !important;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

// Header.js
.header {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid $gray;
    .inner {
        width: 1200px;
        margin: auto;
        position: relative;
        svg {
            position: absolute;
            top: 27%;
            left: 10%;
            cursor: pointer;
        }
        .logo {
            margin: auto;
            line-height: 70px;
            font-size: 2rem;
            font-weight: bold;
            span {
                color: $blue;
            }
        }
    }
}

// Home.js
.home {
    width: 100%;
    .inner {
        width: 800px;
        margin: auto;
        text-align: left;
        .section1 {
            > div { // .domestic .usa
                margin-top: 15px;
                overflow: hidden;
                > div { // .kospi .kosdaq .sp500 .nasdaq
                    float: left;
                    width: 49%;
                    margin-right: 2%;
                    padding: 20px;
                    h4 {
                        margin-bottom: 10px;
                        a {
                            font-size: 1.3rem;
                            font-weight: bold;
                        }
                    }
                    .num {
                        .price {
                            font-size: 1.6rem;
                            font-weight: bold;
                        }
                        p {
                            display: inline;
                            margin-left: 15px;
                        }
                    }
                    canvas {
                        position: relative;
                        left: -10px;
                        margin-top: 10px;
                    }
                    .txt {
                        margin-top: 10px;
                        text-align: center;
                        font-size: 0.9rem;
                        dt {
                            display: inline;
                            margin-right: 3px;
                        }
                        dd {
                            display: inline;
                            margin-right: 5px;
                            padding-right: 5px;
                            border-right: 1px solid $gray;
                        }
                        dd:last-child {
                            border: 0;
                        }
                    }
                }
                > div:last-child {
                    margin-right: 0;
                }
            }
        }
        .section {
            margin-top: 30px;
            h3 {
                margin-left: 15px;
                padding-left: 5px;
                border-left: 5px solid $blue;
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
    }
}

// Footer.js
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid $gray;
    .inner {
        width: 1200px;
        margin: auto;
        ul {
            display: flex;
            align-items: center;
            background-color: $white;
            li {
                width: 25%;
                padding: 20px;
                border-left: 1px solid $gray;
            }
            li:last-child {
                border-right: 1px solid $gray;
            }
        }
    }
}

// Common class
.pos {
    color: $pos;
}

.nag {
    color: $nag;
}