@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.pos {
  color: #ff4444;
}

.nag {
  color: #17a6ff;
}

* {
  font-family: 'Noto Sans KR', sans-serif !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #efefef;
}

.header .inner {
  width: 1200px;
  margin: auto;
  position: relative;
}

.header .inner svg {
  position: absolute;
  top: 27%;
  left: 10%;
  cursor: pointer;
}

.header .inner .logo {
  margin: auto;
  line-height: 70px;
  font-size: 2rem;
  font-weight: bold;
}

.header .inner .logo span {
  color: #247fe0;
}

.home {
  width: 100%;
  background-color: #efefef;
}

.home .inner {
  width: 1000px;
  margin: auto;
  padding-bottom: 100px;
  background-color: #fff;
  text-align: left;
  overflow: hidden;
}

.home .inner .stockIndex > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 15px;
  overflow: hidden;
}

.home .inner .stockIndex > div > div {
  padding: 20px;
}

.home .inner .stockIndex > div > div h4 {
  margin-bottom: 10px;
}

.home .inner .stockIndex > div > div h4 a {
  font-size: 1.3rem;
  font-weight: bold;
}

.home .inner .stockIndex > div > div .num .price {
  font-size: 1.6rem;
  font-weight: bold;
}

.home .inner .stockIndex > div > div .num p {
  display: inline;
  margin-left: 15px;
}

.home .inner .stockIndex > div > div canvas {
  position: relative;
  left: -10px;
  width: 400px;
  margin-top: 10px;
}

.home .inner .stockIndex > div > div .txt {
  margin-top: 10px;
  text-align: center;
  font-size: 0.9rem;
}

.home .inner .stockIndex > div > div .txt dt {
  display: inline;
  margin-right: 3px;
}

.home .inner .stockIndex > div > div .txt dd {
  display: inline;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid #efefef;
}

.home .inner .stockIndex > div > div .txt dd:last-child {
  border: 0;
}

.home .inner .stockIndex > div > div:last-child {
  margin-right: 0;
}

.home .inner .mostpopularNews > div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
}

.home .inner .mostpopularNews > div span .thumb {
  margin-right: 20px;
}

.home .inner .mostpopularNews > div span .thumb img {
  width: 200px;
}

.home .inner .mostpopularNews > div span ul {
  margin-right: 20px;
}

.home .inner .mostpopularNews > div span ul li {
  margin-bottom: 15px;
}

.home .inner .mostpopularNews > div span ul li .tit {
  width: 500px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.home .inner .mostpopularNews > div span ul li .tit:hover {
  text-decoration: underline;
}

.home .inner .mostpopularNews > div span ul li:first-child a {
  font-size: 1.3rem;
  font-weight: bold;
}

.home .inner .mostpopularNews > div span ul li:last-child {
  margin-bottom: 0;
}

.home .inner .mostpopularNews > div span .ads {
  position: relative;
  border: 1px solid #efefef;
}

.home .inner .mostpopularNews > div span .ads img {
  width: 200px;
  height: 147px;
}

.home .inner .mostpopularNews > div span .ads p {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  font-size: 0.8rem;
}

.home .inner .section {
  margin-top: 30px;
}

.home .inner .section h3 {
  margin-left: 30px;
  padding-left: 5px;
  border-left: 5px solid #247fe0;
  font-size: 1.3rem;
  font-weight: bold;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #efefef;
  background-color: #fff;
}

.footer .inner {
  width: 1200px;
  margin: auto;
}

.footer .inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.footer .inner ul li {
  width: 25%;
  padding: 20px;
  border-left: 1px solid #efefef;
}

.footer .inner ul li:last-child {
  border-right: 1px solid #efefef;
}
/*# sourceMappingURL=common.css.map */